
<h3>{{ LeagueName }}  Standings</h3>
<br>
<table style="width: 75%;">
    <thead>
        <tr>
            <th>Nama Team</th>
            <th>Games</th>
            <th>Points</th>
            <th>Goals For</th>
            <th>Goal Againts</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currenRow of Standings">
        <td>{{ currenRow.TeamName }}</td>
        <td>{{ currenRow.GamesPlayed }}</td>
        <td>{{ currenRow.Wins*3 + currenRow.Ties }}</td>
        <td>{{ currenRow.GoalsFor }}</td>
        <td>{{ currenRow.GoalsAgaints }}</td>
    </tr>

    </tbody>
</table>